   <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Echeriri</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
 
 <header>
    <h1>
      <a href="/">Echeriri</a>
    </h1>
    <nav>
      <a href="/login">login</a>
    </nav>
  </header>

    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>
   
    {{!-- <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- <title>Just Tech News</title> --}}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <title id="title-page" class="row">Echeriri</title>

    </head>

    <body>
        <div class="echeriri">

            <!-- HEADER START -->
            <div class="columns container-header">

                <header id="header" class="row sticky">

                    <!-- LEFT BUTTON #about -->
                    <div class="about-icon">
                        <a href="#about" class="ph">
                            <img src="./assets/img/header/we-are-icon-100x100.jpg" alt="company-mission" width="100px">
                        </a>
                    </div>

                    <!-- ECHERIR LOGO CENTER BUTTON #Echeriri-->
                    <div class="homepage-icon">
                        <a href="#echeriri" class="Echeriri-logo">
                            <img src="./assets/img/header/Echeriri-logo-100x100.jpg" alt="echeriri-homepage" width="100px"
                                id="echeriri">
                        </a>
                    </div>

                    <!-- RIGHT BUTTON #contact-us -->
                    <div class="contact-us-icon">
                        <a href="#contact-us" class="">
                            <img src="./assets/img/header/contact-icon-100x100.jpg" alt="contact-info" width="100px"
                                id="contact">
                        </a>
                    </div>
                </header>

                <div class="bottom-border"></div>

            </div>
        </div>


        <div class="queen">
            <div class="blank"></div>
            <div class="king">


                <main>
                    {{{ body }}}
                </main>


                </main>

                <footer id="footer">

                    <div class="row">

                        <h3 id="four">FOUR COLLECTIONS</h3>

                        <a href="#earth-collection" class="ph">
                            <img src="./assets/img/footer/earth-icon.png" alt="earth-collection" height="" width="50px"
                                id="earth-collection" class="collection" type="button">
                        </a>

                        <a href="#fire-collection" class="ph">
                            <img src="./assets/img/footer/fire-icon.png" alt="fire-collection" height="" width="50px"
                                id="fire-collection" class="collection" type="button">
                        </a>


                        <a href="#water-collection" class="ph">
                            <img src="./assets/img/footer/water-icon.png" alt="water-icon" height="" width="50x"
                                id="water-collection" class="collection" type="button">
                        </a>

                        <a href="#wind-collection" class="ph">
                            <img src="./assets/img/footer/wind-icon.png" alt="water-icon" height="" width="50px"
                                id="wind-collection" class="collection" type="button">
                        </a>
                    </div>
                </footer>
            </div>

    </body>

    </html> --}}