{{{ contact }}}
   <link rel="stylesheet" href="css/style.css">

    <title>{{ title }}</title>
    
<div id="contact">
    <div id="contact-us">
        <img src="assets/img/contact-us/1920x1280-contact-us-banner.png" id="contact-us" alt="soap on a rock"
            class="hero" width="100%">

        <br>
        <br>

        <h1 class="title is -1">Contact Us</h1>
        <div id="customer-info">
            <p>Our customers feel confident about asking us for customized products. They contact us to
                ask us for a
                specific soap and we make them for you. We are listening and improving for you. Thank
                you loyal
                clients.</p><br>
        </div>

        <img src="assets/img/contact-us/contact-us-378x463.png" id="soap" alt="we are" class="hero" width="auto">

        <br>
        <br>
        <br>
        <br>

        <div id="how-to-contact">
            <p>Estimates and orders email us:<br>
                <b>sales@echeriri.com</b>
            </p><br>

            <p>Comments and<br>
                Suggestions email us:</p><br>

            <p><b>rosy@echeriri.com<br>
                    echeriri.soap@gmail.com</b></p><br>


            <p>Customer Service<br>
                English / Spanish<br>
                Phone Number: (562) 357 1068 / M-F 9am - 5pm

                </b>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>