{{{ earth }}}
            
  <link rel="stylesheet" href="css/style.css">

    <title>{{ title }}</title>

     <!-- EARTH -->
            <div id="earth-collection">
                <!--small hero banner -->
                <img src="/assets/img/four-collections/earth/earth-main-top-pic.png" height="50%">
                <br>
                <br>
                <!--Symbol and collection name --->
                <div class="elemcont1">
                    <!--element Symbol -->
                    <div class="symcont1">
                        <img src="/assets/img/four-collections/earth/earth-collection.png" class="symbol">
                    </div>
                    <!--Large element name-->
                    <div class="elemcol1">
                        <p class="title is-1">Earth</p>
                    </div>
                </div>
                <!--ingredient1 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/earth/earth-listing-1.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                        <h1 class="title is-2">
                            Palm Oil
                        </h1>
                        <p class="content is-large">
                            • Great mosturizer for a healthy skin.<br>
                            • Source of vitamin K that helps skin wounds to heal.
                        </p>
                    </div>
                </div>
                <!--ingredient2 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/earth/earth-listing-2.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                        <h1 class="title is-2">
                            Honey
                        </h1>
                        <p class="content is-large">
                            • Helps to improve the texture of the skin.<br>
                            • Contains antibacterial and antisepctic properties.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            