{{{ fire }}}
            
  <link rel="stylesheet" href="css/style.css">

    <title>{{ title }}</title>
            
            <div id="fire-collection">
                <!--small hero banner -->
                <img src="./assets/img/four-collections/fire/fire-top-main.png">
                <br>
                <br>
                <!--Symbol and collection name --->
                <div class="elemcont1">
                    <!--element Symbol -->
                    <div class="symcont1">
                        <img src="/assets/img/four-collections/fire/fire-collection.png">
                    </div>
                    <!--Large element name-->
                    <div class="elemcol1">
                        <p class="title is-1">Fire</p>
                    </div>
                </div>
                <!--ingredient1 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/fire/fire-listing-1.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                        <h1 class="title is-2">
                            $9.99
                        </h1>
                        <h1 class="title is-2">
                            Orange
                        </h1>
                        <p class="content is-large">
                            • Contains properties that help with skin infections.
                            <br>
                            • The orange peel powder exfoliates your skin.
                        </p>
                        <div>
                            <button type="submit" class= "content is-large">ADD TO CART</button>
                             </div>
                    </div>
                </div>
                <!--ingredient2 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/fire/fire-listing-2.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                         <h1 class="title is-2">
                            $9.99
                        </h1>
                        <h1 class="title is-2">
                            Lavender
                        </h1>
                        <p class="content is-large">
                            • Naturally anti-inflammatory.
                            <br>
                            • Soothe sunburns and reduce scarring.
                        </p>
                        <div>
                            <button type="submit" class= "content is-large">ADD TO CART</button>
                             </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
