{{{ login }}}

<div id="container-login">
  <br>
   <br>
    <br>
     <br>

{{!-- 
 <img src="public/assets/img/sign-in/echeriri-sign-in-icon.jpg"> --}}

 
<form class="container-login">
  <div>
     {{!-- <img src="../public/assets/img/sign-in/echeriri-sign-in-icon.jpg"> --}}

    <h5>Login</h1>
    <br>
    <br>

    <label id="email-box" for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <br>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button id="login" type="submit">login</button>
  </div>
</form>
 <br>
<form class="container-login signup-form">
   <br>
    <br>
     <h5>Subscribe</h1>
    <br>
    <br>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
   <br>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
   <br>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
    <br>
  </div>
  <br>
  <div>
    <br>
    <button id="logout" type="submit">signup</button>
  </div>
</form>

<script src="../public/javascript/login.js"></script>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>