{{{ water }}}
            
  <link rel="stylesheet" href="css/style.css">

    <title>{{ title }}</title>

     <div id="water-collection">
                <!--small hero banner -->
                <img src="/assets/img/four-collections/water/water-main-top.png">
                <br>
                <br>
                <!--Symbol and collection name --->
                <div class="elemcont1">
                    <!--element Symbol -->
                    <div class="symcont1">
                        <img src="/assets/img/four-collections/water/water-collection.png">
                    </div>
                    <!--Large element name-->
                    <div class="elemcol1">
                        <p class="title is-1">Water</p>
                    </div>
                </div>
                <!--ingredient1 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/water/water-listing-1.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                        <h1 class="title is-2">
                            Neutro
                        </h1>
                        <p class="content is-large">
                            • White plain soap.
                            <br>
                            • Fraggance-Free.
                        </p>
                    </div>
                </div>
                <!--ingredient2 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/water/water-listing-2.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                        <h1 class="title is-2">
                            Sea Salt
                        </h1>
                        <p class="content is-large">
                            • It cleans pore deeply.
                            <br>
                            • It helps to prevent breakouts and acne.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>