{{{ wind }}}

  <link rel="stylesheet" href="css/style.css">

    <title>{{ title }}</title>

    <!-- WIND --->
            <div id="wind-collection">
                <!--small hero banner -->
                <img src="/assets/img/four-collections/wind/wind-main-top.png">
                <br>
                <br>
                <!--Symbol and collection name --->
                <div class="elemcont1">
                    <!--element Symbol -->
                    <div class="symcont1">
                        <img src="/assets/img/four-collections/wind/wind-collection.png">
                    </div>
                    <!--Large element name-->
                    <div class="elemcol1">
                        <p class="title is-1">Wind</p>
                    </div>
                </div>
                <!--ingredient1 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/wind/wind-listing-1.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                        <h1 class="title is-2">
                            Neutral
                        </h1>
                        <p class="content is-large">
                            • Clear soap.
                            <br>
                            • Fantastic texture to just enjoy the daily shower.
                        </p>
                    </div>
                </div>
                <!--ingredient2 --->
                <div class="columns">
                    <!--ingredient img-->
                    <img src="/assets/img/four-collections/wind/wind-listing-2.png" class="column is-half">
                    <!--descriptor-->
                    <div class="column ingdes">
                        <h1 class="title is-2">
                            Bree

                        </h1>
                        <p class="content is-large">
                            • Fresh scent.
                            <br>
                            • The relaxing smell will help you with the stress.
                            </br>
                            </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                        