* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: aqua;
}

.container-login {
    background-color: aqua;
    
    } 


/* .blank {
    flex: auto;
    background-color:white;
} */

/* .king {
    flex: 4; */
    /* display: flex; */
/* } */

/* CONTACT */

/* .container-login {
    background-color: aqua;
}
 */
