* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.queen {
    display: flex;
}


.blank {
    flex: auto;
    background-color:white;
}

.king {
    flex: 4;
}


/* TITLE ELEMENT */
 #title-page{
    position:fixed;
    opacity: 0;
}

.row .sticky {
    position: sticky;
    display: flex;
    flex-direction: row;  
} */

/* STICKY HEADER  */

#header {
    padding: 15px 0;
    background-color: white;
    display: flex;
    justify-content: center;  
    box-shadow: #7C5723; 
    top: 0;
    z-index: 1;
  }

  .scroller {
    overflow: auto;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.bottom-border {
    border: solid white;
    border-style: solid;
    margin-top: 175px;
    border-width: thin medium thick 20px;
}




/* TITLE FOOTER */

#collection-title {
    display: block;
    padding: 12px;
    background-color: #7C5723; 
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

#four {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/* STICKY FOOTER */


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: #89A13A;
}

.container-footer { 
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: #89A13A;
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 470px) {

.king {
flex: auto;
}

#header {
 width: 100%;
}

#footer {
    width: 100%;
   }
}

@media screen and (max-width: 430px) {

    .king {
        flex: auto;
        }

    #header {
        width: 100%;
       }
   
    .collection {
       width: 19%;
       }

       #footer {
           width: 100%;
          }

       }
